/* @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.font-Reddit {
    font-family: "Reddit Sans Condensed", sans-serif;
}

.font-suse {
    font-family: "SUSE", sans-serif;
}

.navlinks {
    color: #f8e263;
    font-size: 18px;
    position: relative;
}

.navlinks:hover {
    color: #f8e263;
}

.navlinks::after {
    content: '';
    position: absolute;
    background-color: #f8e263;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 300ms linear;
}

.navlinks:hover::after {
    width: 100%;
}

.main-bg {
    position: relative;
    background-image: url("/assets/images/main-bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* .main-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
} */

.nav-bg {
    background: rgba(0, 0, 0, 0.5);
}

.about-us-bg-img {
    background-image: url("/assets/images/mall-interior-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.primary-color {
    color: #f8e263;
}

.our-vission-bg-img {
    background-image: url("/assets/images/mall-interior-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

.show {
    right: 0 !important;
}

.rotate1 {
    transform: rotate(45deg) !important;
}

.rotate2 {
    transform: rotate(-45deg) !important;
    position: relative !important;
    top: -10px !important;
}

.rotate3 {
    display: none !important;
}

.footer-bg-img {
    background-image: url("/assets/images/mall-interior-image-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.social-icon {
    font-size: 24px;
    color: white;
    /* Change this to your desired color */
    text-decoration: none;
    transition: all 300ms linear;
}

.social-icon:hover {
    color: #f8e263;
    /* Change this to your desired hover color */
}

.footer_links {
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

.footer_links::after {
    content: '';
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 300ms linear;
}

.footer_links:hover::after {
    width: 100%;
}

.footer_links:hover {
    color: white;
}

.hover-shadow {
    transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
    /* White shadow */
}

.backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("/assets/images/preloader-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* Change to your background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader img {
    width: 100px;
    /* Adjust size as needed */
    animation: scaleAnimation 1.5s infinite ease-in-out;
}

.img-shape {
    border-radius: 40px;
    border: 1px solid white;
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.7);
    }
}

/* Hide preloader when content is loaded */
body.loaded #preloader {
    display: none;
}

@media (max-width:1024px) {
    .main-heading {
        font-size: 65px !important;
    }
}

@media (max-width:768px) {
    .our-vission-bg-img {
        height: unset;
    }

    .about-us-bg-img {
        height: unset;
    }

    .mobileview {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        transition: all 300ms linear;
        background: black;
        right: -100%;
    }

    .menu span {
        height: 4px;
        width: 40px;
        background-color: #f8e263;
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
        border-radius: 4px;
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }
}

@media (max-width:576px) {
    .main-heading {
        font-size: 35px !important;
    }
}